body {
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4e53;;
}

header {
    font-size: 1.8rem;
    color: black;
}

nav header {
    margin: 10px;
    text-align: center;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    display: block;
}

#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    width: 100%;
    display: list-item;
    font-size: 1.1rem;
}

li {
    display: list-item;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
}

#navbar ul {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#main-doc {
    position: absolute;
    margin-left: 320px;
    padding: 20px;
}

article {
    margin: 15px;
}

code {
    display: block;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 5px;
}

@media (max-width: 815px) {
    #navbar ul {
        border: 1px solid;
        height: 200px;
    }

    #navbar {
        background-color: white;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: block;
        max-height: 275px;
        border: none;
        border-bottom: 2px solid;
        z-index: 1;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 280px;
    }
}